/dist/
/lib/
/include/
/bin/
/.vscode/
my-log.log
/wikifiles/
/data/
/gui/__pycache__/
/nodes/__pycache__/
/core/__pycache__/
/utils/__pycache__/
/configurations/__pycache__/
/toolboxes/mecanismos/__pycache__/
/toolboxes/vibrations/__pycache__/
/toolboxes/sysid/__pycache__/
/toolboxes/__pycache__/
/__pycache__/
/toolboxes/solid_mechanics/__pycache__/
/nodes/algebra_nodes/__pycache__/
/toolboxes/structural_dynamics/__pycache__/
